In [ ]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [11]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [12]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [13]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [14]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [16]:
dependent=dataset[[ 'charges' ]]

In [17]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30, random_state=0)

In [19]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['Friedman_mse','mae','mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid = GridSearchCV( DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 356, in fit
    criterion = CRITERIA_REG[self.criterion](self.n_outputs_, n_samples)
KeyError: 'Friedman_mse'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.64111399 0.66234853 0.52986503 0.64401015 0.61277154 0.58396224
 0.67265817 0.66205759 0.60592063 0.53744947 0.67243207 0.61907336]
  category=UserWarning,
C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['Friedman_mse', 'mae', 'mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [20]:
re=grid.cv_results_
grid_prediction = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_prediction)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'best'}: 0.7068859082314146

In [21]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.047671,0.047063,0.000000,0.000000,Friedman_mse,auto,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
1,0.021042,0.018586,0.000000,0.000000,Friedman_mse,auto,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
2,0.014171,0.007734,0.000000,0.000000,Friedman_mse,sqrt,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
3,0.019159,0.016392,0.000000,0.000000,Friedman_mse,sqrt,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
4,0.017253,0.007577,0.000000,0.000000,Friedman_mse,log2,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
5,0.012501,0.011693,0.000000,0.000000,Friedman_mse,log2,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
6,0.084392,0.035095,0.013196,0.006742,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.746756,0.625673,0.607109,0.549858,0.676175,0.641114,0.066501,6
7,0.048794,0.007238,0.012504,0.006252,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.716161,0.691890,0.643147,0.564171,0.696373,0.662349,0.054651,3
8,0.043750,0.011695,0.010815,0.009212,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.568122,0.662022,0.543226,0.237265,0.638690,0.529865,0.152686,12
9,0.031400,0.000298,0.008023,0.007003,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.700951,0.594175,0.711941,0.589055,0.623930,0.644010,0.052466,5
10,0.043751,0.006249,0.003126,0.006253,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.758463,0.552516,0.602524,0.463310,0.687044,0.612772,0.102778,8
11,0.042215,0.009409,0.007852,0.006989,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.701217,0.484611,0.646140,0.495011,0.592832,0.583962,0.084233,10
12,0.026679,0.006197,0.004726,0.006270,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.712479,0.565848,0.759708,0.632805,0.692451,0.672658,0.067159,1
13,0.012503,0.006251,0.009376,0.007655,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.661478,0.616027,0.688210,0.751223,0.593350,0.662058,0.055631,4
14,0.018750,0.006252,0.006249,0.007653,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.711819,0.539934,0.666667,0.583652,0.527531,0.605921,0.071972,9
15,0.015628,0.000006,0.006250,0.007654,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.586706,0.538591,0.672951,0.521670,0.367329,0.537449,0.099978,11
16,0.019201,0.005652,0.011451,0.006144,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.681549,0.650627,0.755998,0.626400,0.647587,0.672432,0.045339,2
17,0.017303,0.003350,0.014102,0.003050,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.710216,0.529594,0.593627,0.645266,0.616663,0.619073,0.059419,7

In [22]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:10
BMI:24
Children:1
sex male 0 or 1:0
smoker yes 0 or 1:1

In [23]:
future_prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(future_prediction))

future_prediction=[15518.18025]

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"