In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]

In [9]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30, random_state=0)
x_train,x_test,y_train,y_test

(      age     bmi  children  sex_male  smoker_yes
 1163   18  28.215         0         0           0
 196    39  32.800         0         0           0
 438    52  46.750         5         0           0
 183    44  26.410         0         0           0
 1298   33  27.455         2         1           0
 ...   ...     ...       ...       ...         ...
 763    27  26.030         0         1           0
 835    42  35.970         2         1           0
 1216   40  25.080         0         1           0
 559    19  35.530         0         1           0
 684    33  18.500         1         0           0

 [936 rows x 5 columns],       age     bmi  children  sex_male  smoker_yes
 578    52  30.200         1         1           0
 610    47  29.370         1         0           0
 569    48  40.565         2         1           1
 1034   61  38.380         0         1           0
 198    51  18.050         0         0           0
 ...   ...     ...       ...       ...         ...
 1261   28  37.100         1         1           0
 494    21  25.700         4         1           1
 97     55  38.280         0         1           0
 418    64  39.160         1         1           0
 920    62  25.000         0         0           0

 [402 rows x 5 columns],           charges
 1163   2200.83085
 196    5649.71500
 438   12592.53450
 183    7419.47790
 1298   5261.46945
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [936 rows x 1 columns],           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 1261   3277.16100
 494   17942.10600
 97    10226.28420
 418   14418.28040
 920   13451.12200

 [402 rows x 1 columns])

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squared_error','absolute_error','friedman_mse','poisson'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [12]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}: 0.8684416223694555

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.087528,0.013280,0.008744,0.007233,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.854766,0.752716,0.792557,0.787845,0.768127,0.791202,0.034834,13
1,0.632621,0.047042,0.035220,0.014338,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.862182,0.769724,0.810459,0.799548,0.770519,0.802487,0.033856,8
2,0.076880,0.026268,0.015626,0.000002,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.848381,0.777770,0.780805,0.804148,0.775006,0.797222,0.027592,10
3,0.618613,0.174264,0.068757,0.027246,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.863344,0.790203,0.809026,0.827489,0.763911,0.810794,0.033661,4
4,0.133446,0.034961,0.003125,0.006251,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.830250,0.782476,0.795678,0.792549,0.737522,0.787695,0.029809,14
5,0.593764,0.042723,0.046878,0.009881,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.862215,0.794791,0.809938,0.827540,0.768233,0.812544,0.031552,3
6,0.314390,0.030040,0.011002,0.006222,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.838268,0.756146,0.795990,0.792798,0.752633,0.787167,0.031227,16
7,2.436093,0.027125,0.030991,0.000529,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.847158,0.775568,0.795655,0.798225,0.764668,0.796255,0.028359,11
8,0.161674,0.016680,0.012643,0.006327,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.836529,0.772040,0.801454,0.793258,0.770677,0.794792,0.024033,12
9,1.311329,0.093832,0.022068,0.007510,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.857128,0.796441,0.808117,0.820308,0.771380,0.810675,0.028298,5
10,0.170644,0.010189,0.009378,0.007657,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.825652,0.765792,0.799700,0.808347,0.736616,0.787222,0.031934,15
11,1.557153,0.033307,0.028133,0.006252,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.854393,0.786945,0.806941,0.818467,0.771480,0.807645,0.028423,6
12,0.061145,0.002720,0.015769,0.000284,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.837687,0.716926,0.806097,0.788182,0.765830,0.782944,0.040525,17
13,0.587337,0.041752,0.030131,0.010795,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859122,0.774036,0.814761,0.800834,0.772615,0.804274,0.031770,7
14,0.062504,0.009882,0.015627,0.000002,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.849355,0.793297,0.785228,0.807176,0.758162,0.798643,0.029973,9
15,0.507779,0.015510,0.034446,0.006228,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.865544,0.786022,0.808505,0.826095,0.778500,0.812933,0.031211,2
16,0.055199,0.007048,0.012502,0.006251,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.831695,0.747556,0.797440,0.801762,0.735699,0.782830,0.035848,18
17,0.487963,0.028294,0.034097,0.005686,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.862271,0.794410,0.811841,0.829924,0.773141,0.814317,0.030467,1
18,0.123007,0.028739,0.010978,0.006233,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.740929,0.722932,0.735761,0.766643,0.741019,0.741457,0.014216,23
19,0.844590,0.115174,0.028301,0.006344,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.797779,0.739920,0.762971,0.795470,0.745109,0.768250,0.024408,20
20,0.056419,0.007795,0.006251,0.007656,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.822822,0.715796,0.781949,0.713104,0.689759,0.744686,0.049684,22
21,0.578471,0.076205,0.033358,0.003477,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.839928,0.733998,0.779375,0.780312,0.722776,0.771278,0.041478,19
22,0.084014,0.014034,0.013486,0.007009,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.810089,0.686281,0.733566,0.780172,0.686551,0.739332,0.049614,24
23,0.690750,0.067268,0.040719,0.018705,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.843559,0.727855,0.773335,0.778933,0.708629,0.766462,0.046865,21

In [16]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:21
BMI:42
Children:2
sex male 0 or 1:1
smoker yes 0 or 1:0

In [17]:
future_prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(future_prediction))

future_prediction=[7254.1049854]

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"