In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]

In [9]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30, random_state=0)
x_train,x_test,y_train,y_test

(      age     bmi  children  sex_male  smoker_yes
 1163   18  28.215         0         0           0
 196    39  32.800         0         0           0
 438    52  46.750         5         0           0
 183    44  26.410         0         0           0
 1298   33  27.455         2         1           0
 ...   ...     ...       ...       ...         ...
 763    27  26.030         0         1           0
 835    42  35.970         2         1           0
 1216   40  25.080         0         1           0
 559    19  35.530         0         1           0
 684    33  18.500         1         0           0

 [936 rows x 5 columns],       age     bmi  children  sex_male  smoker_yes
 578    52  30.200         1         1           0
 610    47  29.370         1         0           0
 569    48  40.565         2         1           1
 1034   61  38.380         0         1           0
 198    51  18.050         0         0           0
 ...   ...     ...       ...       ...         ...
 1261   28  37.100         1         1           0
 494    21  25.700         4         1           1
 97     55  38.280         0         1           0
 418    64  39.160         1         1           0
 920    62  25.000         0         0           0

 [402 rows x 5 columns],           charges
 1163   2200.83085
 196    5649.71500
 438   12592.53450
 183    7419.47790
 1298   5261.46945
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [936 rows x 1 columns],           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 1261   3277.16100
 494   17942.10600
 97    10226.28420
 418   14418.28040
 920   13451.12200

 [402 rows x 1 columns])

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squared_error','absolute_error','friedman_mse','poisson'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [12]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}: 0.8711594415979025

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.106934,0.036029,0.015625,0.000005,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.858155,0.750845,0.781862,0.777685,0.753889,0.784487,0.038854,15
1,0.646905,0.044218,0.053730,0.012964,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.865418,0.758101,0.812484,0.804300,0.775976,0.803256,0.036698,7
2,0.068732,0.010637,0.017779,0.013547,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.819152,0.771465,0.756302,0.805900,0.752543,0.781073,0.026781,17
3,0.522732,0.023493,0.039685,0.006690,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.854866,0.793901,0.808429,0.828109,0.767429,0.810547,0.029710,6
4,0.062639,0.009670,0.015626,0.000002,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.836739,0.787905,0.782816,0.819559,0.759352,0.797274,0.027528,11
5,0.574007,0.068588,0.039245,0.009995,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.863407,0.792051,0.807993,0.827352,0.765449,0.811251,0.033035,3
6,0.287716,0.026470,0.009477,0.005824,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.845415,0.734359,0.769897,0.777198,0.754506,0.776275,0.037557,18
7,2.411926,0.094839,0.042613,0.022130,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.858109,0.778464,0.793721,0.795240,0.762623,0.797632,0.032470,10
8,0.165896,0.008695,0.009353,0.009012,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.837096,0.792999,0.810674,0.808543,0.756466,0.801156,0.026460,9
9,1.481048,0.122010,0.040669,0.020575,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.850430,0.793214,0.814563,0.829247,0.772230,0.811937,0.027260,2
10,0.146843,0.006662,0.004726,0.006270,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.844734,0.762763,0.769250,0.803228,0.766248,0.789245,0.031319,13
11,1.464701,0.198805,0.044731,0.024555,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.852640,0.797032,0.809362,0.831368,0.765541,0.811188,0.029708,4
12,0.078524,0.009125,0.010975,0.006232,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.867844,0.738393,0.789546,0.754886,0.758108,0.781755,0.046116,16
13,0.619500,0.031781,0.034942,0.006915,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861534,0.764487,0.816149,0.803546,0.767696,0.802682,0.035577,8
14,0.065010,0.004013,0.010186,0.005755,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.847550,0.768655,0.777313,0.790654,0.764558,0.789746,0.030252,12
15,0.508286,0.016347,0.036938,0.006034,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.860560,0.785788,0.810656,0.831339,0.765322,0.810733,0.033442,5
16,0.061485,0.008368,0.014103,0.003049,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.849197,0.775005,0.782262,0.804653,0.734639,0.789151,0.037590,14
17,0.487213,0.039580,0.034093,0.003719,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.867662,0.789556,0.807314,0.828391,0.772466,0.813078,0.033014,1
18,0.124153,0.030920,0.009996,0.008240,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.770975,0.712299,0.728209,0.782703,0.740078,0.746853,0.026285,24
19,0.952770,0.029144,0.040700,0.010753,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.785024,0.731680,0.760056,0.794895,0.755256,0.765382,0.022466,21
20,0.069765,0.007074,0.014442,0.008139,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.801795,0.713159,0.772859,0.755309,0.694938,0.747612,0.038972,23
21,0.614049,0.033306,0.032220,0.010077,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.839400,0.730904,0.775113,0.773850,0.717394,0.767332,0.042703,19
22,0.082467,0.020081,0.011942,0.007180,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.835039,0.720883,0.766273,0.773117,0.682361,0.755534,0.051576,22
23,0.555397,0.049412,0.028281,0.006331,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.837501,0.734874,0.773006,0.766441,0.723439,0.767052,0.039841,20