In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['Friedman_mse','mae','mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid = GridSearchCV( DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 356, in fit
    criterion = CRITERIA_REG[self.criterion](self.n_outputs_, n_samples)
KeyError: 'Friedman_mse'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.6999147  0.6941643  0.67858394 0.66943501 0.64556095 0.66030908
 0.68991435 0.68680877 0.59643422 0.61324627 0.67702416 0.66504671]
  category=UserWarning,
C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['Friedman_mse', 'mae', 'mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [15]:
re=grid.cv_results_
grid_prediction = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_prediction)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'best'}: 0.998667156135576

In [16]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.020142,1.978463e-02,0.000000,0.000000,Friedman_mse,auto,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
1,0.015626,9.295267e-07,0.000000,0.000000,Friedman_mse,auto,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
2,0.018749,6.251979e-03,0.000000,0.000000,Friedman_mse,sqrt,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
3,0.021809,1.383339e-02,0.000000,0.000000,Friedman_mse,sqrt,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
4,0.007089,6.573732e-03,0.000000,0.000000,Friedman_mse,log2,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
5,0.015927,7.540229e-03,0.000000,0.000000,Friedman_mse,log2,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
6,0.101689,1.180844e-02,0.022630,0.021028,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.739400,0.602428,0.715718,0.710079,0.731949,0.699915,0.049884,1
7,0.068605,1.152590e-02,0.011409,0.010026,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.679328,0.587687,0.751471,0.730270,0.722066,0.694164,0.058178,2
8,0.054965,1.361585e-02,0.006253,0.007658,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.779494,0.568782,0.605193,0.731777,0.707674,0.678584,0.079122,5
9,0.047497,1.248826e-03,0.009557,0.007440,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.678035,0.521627,0.672644,0.723543,0.751325,0.669435,0.079455,7
10,0.059629,1.598674e-02,0.004327,0.006111,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.592949,0.530019,0.721714,0.646133,0.736990,0.645561,0.077816,10
11,0.040897,6.104051e-03,0.008253,0.007044,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.684225,0.654551,0.625178,0.713857,0.623735,0.660309,0.034769,9
12,0.021875,1.250129e-02,0.009377,0.007656,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.714129,0.642571,0.733463,0.692491,0.666918,0.689914,0.032433,3
13,0.025001,7.656856e-03,0.010246,0.008516,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.663721,0.608960,0.756918,0.713346,0.691098,0.686809,0.049460,4
14,0.019557,8.311753e-03,0.007500,0.009396,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.647394,0.629428,0.699081,0.517568,0.488700,0.596434,0.080061,12
15,0.018753,6.249548e-03,0.011197,0.009728,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.652376,0.571682,0.537194,0.671147,0.633833,0.613246,0.050634,11
16,0.019673,6.154097e-03,0.007327,0.004957,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.754100,0.491899,0.770822,0.672881,0.695418,0.677024,0.099363,6
17,0.013096,5.056263e-03,0.009377,0.007656,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.706644,0.559883,0.649165,0.686835,0.722706,0.665047,0.058037,8

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:23
BMI:35
Children:0
sex male 0 or 1:1
smoker yes 0 or 1:0

In [18]:
future_prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(future_prediction))

future_prediction=[1826.843]

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"