In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squared_error','absolute_error','friedman_mse','poisson'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [11]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100}:

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.092962,0.008043,0.012600,0.006303,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.828827,0.781519,0.830530,0.809853,0.823019,0.814750,0.018132,15
1,0.715335,0.023976,0.042404,0.006159,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.849259,0.773926,0.854397,0.813771,0.836382,0.825547,0.029378,8
2,0.075230,0.006376,0.018753,0.006249,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.838243,0.766088,0.836080,0.823314,0.839564,0.820658,0.027891,10
3,0.590908,0.028797,0.031404,0.000295,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.858457,0.778014,0.857727,0.825309,0.841337,0.832169,0.029692,6
4,0.071880,0.007658,0.012501,0.006251,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.856329,0.756319,0.850060,0.809736,0.824897,0.819468,0.035795,12
5,0.589849,0.020760,0.034380,0.006253,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.858335,0.774799,0.860010,0.827886,0.840823,0.832371,0.031126,5
6,0.417036,0.018707,0.012603,0.006304,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.820195,0.758831,0.842901,0.813796,0.814837,0.810112,0.027722,18
7,3.559049,0.125219,0.028608,0.006557,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.839459,0.767249,0.849899,0.820428,0.837763,0.822960,0.029418,9
8,0.201859,0.040237,0.009375,0.007655,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.851454,0.755044,0.850984,0.812377,0.828943,0.819761,0.035515,11
9,2.736966,0.254005,0.043757,0.018223,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.858305,0.777771,0.861164,0.827078,0.841942,0.833252,0.030327,4
10,0.324999,0.029009,0.017227,0.015912,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.843944,0.772531,0.817374,0.824996,0.826368,0.817043,0.023897,14
11,2.196421,0.168691,0.033260,0.003644,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.860044,0.783518,0.857014,0.831846,0.846348,0.835754,0.027922,1
12,0.078351,0.000441,0.007871,0.006989,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.836992,0.752867,0.841960,0.791431,0.827820,0.810214,0.033694,17
13,0.712587,0.037098,0.038824,0.009415,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.849081,0.776641,0.856818,0.817727,0.836093,0.827272,0.028569,7
14,0.068013,0.011018,0.015627,0.000001,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.843808,0.748179,0.856466,0.817679,0.827393,0.818705,0.037700,13
15,0.569958,0.021882,0.034385,0.006251,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859710,0.783146,0.864931,0.829975,0.840026,0.835557,0.029135,2
16,0.069046,0.007831,0.012576,0.006290,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.842103,0.751444,0.833594,0.805331,0.820955,0.810685,0.032111,16
17,0.576047,0.031941,0.039839,0.008904,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.860383,0.782928,0.860211,0.826920,0.843162,0.834721,0.028716,3
18,0.134896,0.013380,0.015627,0.009883,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.798303,0.718477,0.810747,0.804836,0.786177,0.783708,0.033621,22
19,1.127689,0.031935,0.033012,0.003514,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.820180,0.757613,0.826009,0.828288,0.800674,0.806553,0.026330,19
20,0.079686,0.011921,0.010989,0.006226,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.780803,0.704356,0.794492,0.756155,0.760619,0.759285,0.030762,23
21,0.766020,0.091200,0.031254,0.000003,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.807260,0.723033,0.825133,0.793365,0.788670,0.787492,0.034637,20
22,0.111182,0.058355,0.014089,0.010350,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.789379,0.689386,0.774201,0.744931,0.745204,0.748620,0.034204,24
23,0.723590,0.027713,0.040628,0.007652,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.807771,0.720950,0.819952,0.794969,0.780714,0.784871,0.034526,21

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:20
BMI:45
Children:2
sex male 0 or 1:1
smoker yes 0 or 1:0

In [14]:
future_prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(future_prediction))

future_prediction=[7462.85886015]

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"